@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #e9ecef !important;
}

.bi-chat-left-text-fill {
  font-size: 4rem !important;
}
